html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #1d1f21;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #1d1f21;
}
 
::-webkit-scrollbar-thumb {
  background: #2bbc8a; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2bbc8a; 
}

.logo:hover {
  color: white;
  cursor: pointer;
}

.underlineEffect {
  position: relative;
}

.underlineEffect:after{

  content: "";
  position: absolute;
  background-color: #2bbc8a;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -2px;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.4s ease-out;
}

.underlineEffect:hover{
  color: #2bbc8a;
}

.underlineEffect:hover:after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* .hoverShadow {
  border: 4px solid red;
  outline-offset: 15px; 
  transform: translate(300px, 250px); 
} */

.updown {
  animation: updown 1.5s ease infinite alternate;
}

.flip-card {
  background-color: transparent;
  perspective: 1000px;
  width: 20rem;
  height: 20rem;
  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}


@keyframes updown {
  from{
      transform: translateY(0px);
  }
  to {
      transform: translateY(20px);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;